{extend name="layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p><strong><i class="fa fa-fw fa-info-circle"></i> 提示：</strong>按住表头可拖动节点，调整后点击【保存节点】。</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="block">
                {notempty name="tab_nav"}
                <ul class="nav nav-tabs">
                    {volist name="tab_nav['tab_list']" id="tab"}
                    <li {eq name="tab_nav.curr_tab" value="$tab['name']"}class="active"{/eq}>
                        <a href="{:url('',['tab' => $tab['name']])}">{$tab.title}</a>
                    </li>
                    {/volist}
                    <li class="pull-right">
                        <ul class="block-options push-10-t push-10-r">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="close"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                    </li>
                </ul>
                {else/}
                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="close"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{$page_title|raw}</h3>
                </div>
                {/notempty}
                <div class="block-content tab-content">
                    <div class="tab-pane active">
                        {notempty name="menus"}
                        <div class="row data-table-toolbar">
                            <div class="col-sm-12">
                                <form action="{$Request.url}" method="get">
                                <div class="toolbar-btn-action">
                                    <button title="展开所有方法" type="button" class="btn btn-success" id="expand-all"><i class="fa fa-plus"></i> 展开所有方法</button>
                                    <button title="收起所有方法" type="button" class="btn btn-warning" id="collapse-all"><i class="fa fa-minus"></i> 收起所有方法</button>
                                    <span class="form-inline">
                                        <input class="form-control" type="text" name="max" value="{$Request.get.max|default=''}" placeholder="显示层数">
                                    </span>
                                </div>
                                </form>
                            </div>
                        </div>

                        <div class="dd" id="menu_list">
                            <ol class="dd-list">{$menus|raw}</ol>
                        </div>
                        {/notempty}
                    </div>
                </div>
            </div>
        </div>
    </div>

{/block}

{block name="script"}
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dd3-content").mouseenter(function () {
           $(this).find('.comment').show();
        });

       $(".dd3-content").mouseout(function () {
           // $(this).find('.comment').hide();
        });
        // 展开所有节点
        $('#expand-all').click(function(){
            $('#menu_list').nestable('expandAll');
        });

        // 收起所有节点
        $('#collapse-all').click(function(){
            $('#menu_list').nestable('collapseAll');
        });
        $('#menu_list').nestable('collapseAll');
        $('#menu_list').nestable('collapseAll');
    });
    function alert_form(path)
    {
        //自定页
        layer.open({
            type: 1,
            title:'添加函数',
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 1, //不显示关闭按钮
            anim: 2,
            area: ['800px', '700px'],
            shadeClose: true, //开启遮罩关闭
            content: '<form action="{:url('add')}" name="form-builder" style="margin-top:20px;"><div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_mobile">\n' +
                '    <label class="col-xs-12" for="mobile">函数名称</label>\n' +
                '    <div class="col-xs-12">\n' +
                '        \n' +
                '        <input class="form-control" type="text" id="function_name" name="function_name" value="" placeholder="请输入函数名">\n' +
                '        <input class="form-control" type="hidden" id="function_path" name="function_path" value="'+path+'">\n' +
                '\n' +
                '            </div></div>\n' +
                '<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_mobile">\n' +
                '    <label class="col-xs-12" for="mobile">参数</label>\n' +
                '    <div class="col-xs-12">\n' +
                '        \n' +
                '        <input class="form-control" type="text" id="function_param" name="function_param" value="" placeholder="请输入参数">\n' +
                '\n' +
                '            </div></div>\n' +
                '<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_value">'+
                '<label class="col-xs-12" for="value">内容</label>'+
                '<div class="col-xs-12">'+
                '<textarea class="form-control" id="function_content" rows="7" name="function_content" placeholder="请输入函数内容"></textarea>'+
                '</div>'+
                '</div>'+
                '<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_value">'+
                '<label class="col-xs-12" for="value">备注</label>'+
                '<div class="col-xs-12">'+
                '<textarea class="form-control" id="function_comment" rows="7" name="function_comment" placeholder="请输入函数备注"></textarea>'+
                '</div>'+
                '</div>'+
                '<div class="form-group col-md-12 col-xs-12">\n' +
                ' <div class="col-xs-12">\n' +
                '<button class="btn btn-minw btn-primary ajax-post" target-form="form-builder" type="submit">\n' +
                '提交</button>\n' +
                '</div>\n' +
                '</div></form>'
        });
    }
</script>
{/block}
